* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
  }
  .about_us{
    display: block;
    width: 80%;
    min-height: 60vh;
    background: #34495e;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    position: relative;
    padding: 150px 10% 50px 10%;
  }
  .about_us > h2{
    display: block;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    line-height: 31px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 auto 30px;
  }
  .about_us > span {
    display: block;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    margin: 20px auto 10px;
  }
  .about_us > p{
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    margin: 0 auto 10px;
  }
  .about_us > img{
    display: block;
    margin-bottom: 20px;
  }
  .about_us > .mission{
    color: rgba(255, 255, 255, 1);
    display: block;
    width: 60%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(92,188,224,0.4);
    margin-left: 20%;
    padding: 5px 10px; 
  
  }
  .about_us > .mission > span{
    display: block;
    margin: 0 auto 10px;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    line-height: 1.75;
  }
  .about_us > .mission > p{
    display: block;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto 10px;
    text-align: center;
    font-weight: 500;
    line-height: 1.75;
  }
  h1 {
    display: inline-block;
    position: absolute;
    padding: 4pt;
  }
  nav{
    background-color:lightskyblue;
    word-spacing: 5px;
    height: 17px;
    padding:10px;
    display: flex;
    justify-content: flex-end;
}
a.navigation{
    margin-left: 30px;
    text-decoration: none;
    padding: 10px;
    color: white; 
}
a.navigation:hover{
    background-color: white;
    color:lightskyblue;
    padding: 10px;
}
.company{
    margin-left: 50px;
    margin-top: 50px;
}
h2{
    font-size: 50px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer {
    background: #485b6e; 
    color: rgba(255, 255, 255, 1);
    display: block;
    width: 100%;
    
  }
  .footer > .address {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    margin-top: 50px;
    width: auto;
    float: left;
  }
  .footer > .address > span{
    display: block;
    padding-top: 10px;
  }
  .footer > .phone {
    display: inline-block;
    width: auto;
    position: relative;
    margin-right: 10%;
    margin-top: 50px;
    float: right;
  }
  .footer > .phone > span{
    display: block;
    padding-top: 10px;
    text-align: right;
  }
  .footer > .email {
    margin-right: 10%;
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    position: relative;
    float: right;
  }
  .footer > .email > .email{
    display: block;
    padding-top: 10px;
    text-align: right;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
  .footer > .copyright {
    display: inline-block;
    margin: 70px 0 60px 10%;
    width: 80%;
    position: relative;
  }
  @media (max-width: 900px) {
  
    .header > #nav + label + nav.circle {
      display: none;
      width: 120px;
      padding: 10px;
      background-color :#292c2f;
    }
  
    .header > #nav:checked + label + nav.circle {
      display: block;
    }
  
  
    .header > nav.circle> ul {
      display: block;
      width: 100%;
      text-align: left;
    }
  
    .header > nav.circle > ul> li {
      display: block;
      font-size :80%;
    }  
  
    .header > nav.circle {
      position: absolute;
      top: 54px;
      right: 0;
      z-index: 100;
      text-align: left;
    }   
  
    .header > label {
      display: inline-block;
      float: right;
      width: 48px;
      height: 48px;
      padding: 16px;
    }
  }