nav{
    background-color:lightskyblue;
    word-spacing: 5px;
    height: 30px;
    padding:10px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
a.navigation{
    margin-left: 30px;
    text-decoration: none;
    color: white; 
}
a.navigation:hover{
    background-color: white;
    color:lightskyblue;
    padding: 10px 0 12px 0;
}
footer{
    text-align: center;
    
}
form{
    margin-top: 20px;
    
}
input{
    width: 350px;
    margin-left: 20px;
}
section.search{
      margin-right: 1100px;
      height: 1010px;
      background-color: lightgray;
      border: 1px solid white;
      
}
.insideInput{
    margin-top: 30px;
    padding-top: 40px;   
}
/*.flexbox{
    display: flex;
}*/
#card1{
    height: 390px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 450px;
    margin-top: -280px;
}
#card1:hover{
    transition:ease-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 10px 25px 1px #888888;
}
#card2{
    height: 390px;
    width: 310px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 820px;
    margin-top: -390px;
}
#card2:hover{
    transition:ease-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 10px 25px 1px #888888;
}
#card3{
    height: 390px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 1190px;
    margin-top: -390px;
}
#card3:hover{
    transition:ease-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 10px 25px 1px #888888;
}
#card4{
    height: 390px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 450px;
    margin-top: 50px;
}
#card4:hover{
    transition:ease-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 10px 25px 1px #888888;
}
#card5{
    height: 390px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 820px;
    margin-top: -390px;
}
#card5:hover{
    transition:ease-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 10px 25px 1px #888888;
}
#card6{
    height: 390px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 1190px;
    margin-top: -390px;
}
#card6:hover{
    transition:ease-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 10px 25px 1px #888888;
}
#image1{
    margin-left: 20px;
    height: 255px;
    width: 240px;
}
#image2{
    margin-left: 20px;
    height: 245px;
    width: 240px;
}
#image3{
    margin-left: 30px;
    height: 255px;
    width: 240px;
}
#image4{
    margin-left: 30px;
    height: 255px;
    width: 240px;
}
#image5{
    margin-left: 30px;
    height: 255px;
    width: 240px;
}
#image6{
    margin-left: 30px;
    height: 255px;
    width: 240px;
}
h3{
    margin-left: 10px;
}
p{
    margin-left: 10px;
    font-size: 18px;
}
span{
    font-size: 25px;
    color: red;
}
