body{
    margin: 0;
    
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    width: 100%;
    max-width: 100%;
  }
  
  
  nav{
    background-color:lightskyblue;
    word-spacing: 5px;
    height: 19px;
    padding:10px;
    display: flex;
    justify-content: flex-end;
}
a.navigation{
    margin-left: 30px;
    text-decoration: none;
    padding: 10px;
    color: white; 
}
a.navigation:hover{
    background-color: white;
    color:lightskyblue;
    padding: 10px;
}
  .page{
    max-width: 78%;
    margin-left: 170px;
    margin-top: 50px;
  }
  .page * {
    padding: 0;
    margin: 0;
  }
  /* Mobile */
  #store_cart {
    float: left;
    width: 100%;
  }
  
  /* cart header */
  
  .cart_head {
    float: left;
    width: 100%;
    display: table;
    background: #1F1F1F;
    color: white;
  background: lightblue;
  
  
  }
  
  .cart_head li {
    vertical-align: middle;
    padding: 12px;
    font-size: 18px;
    float: left;
  }
  
  /* cart header cells */
  
  
  
  
  
 
  
  /* cart item */
  
  .cart_item {
    float: left;
    width: 100%;
    display: table;
    background: #fff;
    border: 1px solid #555;
    border-top: none;
  
  }
  
  .cart_item li {
    vertical-align: middle;
    padding: 9px;
    font-size: 0.8em;
    float: left;
  }
  
  .cart_item li p {
    font-size: 1.3em;
  }
  
  .cart_item li span {
    font-size: 0.9em;
  }
  
  .cart_item li h2 {
    font-size: 1.1em;
  }
  
  /* cart item cells */
  
  .cart_img_col {
    display: inline-block;
    width: 30%;
    text-align: center;
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
  }
  
  .cart_img_col img {
    display: none;
  }
  
  .cart_product_col {
    display: inline-block;
    width: 70%;
    padding-bottom: 0 !important;
  }
  
  .cart_options_col {
    display: inline-block;
    width: 30%;
  }
  .cart_options_col input {
    width: 48px;
  }
  .cart_price_col {
    text-align: center;
    display: inline-block;
    width: 20%;
  }
  .cart_del_col {
    display: inline-block;
    width: 20%;
    text-align: center;
  }
  .cart_del_col img {
    max-width: 25px;
    cursor: pointer;
  }
  .cart_del_col img:hover {
    opacity: 0.8;
  }
  
 
  
  
  /* Tablet */
  @media only screen and (min-width: 481px) {
  
  /* cart item */
  
  .cart_item {
    height: 100px;
  }
  
  .cart_head li {
    float: none;
    font-size: 1em;
  }
  
  .cart_item li {
    float: none;
  }
  
  .cart_item li p {
    font-size: 1.2em;
  }
  
  .cart_item li span {
    font-size: 1em;
  }
  
  .cart_item li h2 {
    font-size: 1em;
  }
  
  /* cart header cells */
  
  .cart_head_title {
    display: none;
  }
  .cart_head_product {
    display: table-cell;
    width: 45%;
  }
  .cart_head_options {
    display: table-cell;
    width: 18.5%;
  }
  .cart_head_price {
    display: table-cell;
    width: 21.625%;
  }
  
  /* cart item cells */
  
  .cart_img_col {
    width: 15%;
    display: table-cell;
    background-image: none;
  }
  
  .cart_img_col img {
    max-width: 60px;
    display: inline-block;
    height: auto;
  }
  
  .cart_product_col {
    display: table-cell;
    width: 30%;
    padding-bottom: 12px !important;
  }
  
  .cart_options_col {
    display: table-cell;
    width: 18.5%;
  }
  
  .cart_price_col {
    display: table-cell;
    width: 11.625%;
  }
  
  .cart_del_col {
    display: table-cell;
    width: 9%;
  }
  
  .cart_item li:nth-child(even) {
      background: rgba(0,0,0, 0.1);
  
  }
  
  .cart_head li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
  }
  
  }
  
  /* Desktop */
  
  @media only screen and (min-width: 769px) {
  
  /* cart item */
  
  .cart_head li:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .cart_head li:nth-child(odd) {
    background: none;
  }
  
  .cart_item {
    height: 10px;
  }
  
  .cart_head li {
    font-size: 1.1em;
  }
  
  .cart_item li p {
    font-size: 1.4em;
    font-weight: 700;
  }
  
  .cart_item li span {
    font-size: 1em;
  }
  
  .cart_item li h2 {
    font-size: 1.4em;
  }
  
  /* cart header cells */
  
  .cart_head_title {
    display: table-cell;
    width: 15%;
  }
  .cart_head_product {
    width: 45%;
  }
  .cart_head_options {
    width: 19.5%;
  }
  .cart_head_price {
    width: 18.5%;
  }
  
  /* cart item cells */
  
 
  .cart_img_col img {
    max-width: 75px;
  }
  
  .cart_product_col {
    width: 45%;
  }
  
  .cart_price_col {
    width: 11.625%;
  }
  
  .cart_options_col {
    width: 19.5%;
  }
  
  .cart_del_col {
    width: 6.875%;
  }
  
  }
 
